@model IEnumerable<Lab>

<div class="container">
    @foreach(var r in Model){
    <div class = "row bg-info border">
        <h2><b>Room No: </b>@r.RoomNo</h2>
        <h3><b>Building No: </b>@r.BuildingNo</h3>
    </div>
}    
</div>