@model List<Issue>

<div class="d-flex justify-content-center">
    <div class="">
        @foreach (var r in Model)
        {
            <div class="card m-3 bg-light" style="width:30rem;display:grid; grid-template-columns: repeat(2, 1fr)">
                <div class="card-body" style="">
                    <h3>@r.Title</h3>
                    <h5>@r.Description</h5>
                    <p class="position-absolute top-0" style="right:10px; color: red">@r.Priority</p>
                </div>
                <div class="card-body" style="">
                    asdsadfs
                </div>
            </div>
        }
    </div>
</div>